
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="card-head">
    <div class="card">
      {{#each imageList}}
       <img src="{{src}}" alt="Image" />
    {{/each}}


      <div class="container-1">
        <h5><b>Neerukonda Vijaya</b></h5>
        <h6><b>S180150</b></h6>
        <p>Fullstack Web Developer</p>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/vijaya-lakshmi-neerukonda-a18193244/" class="fa fa-linkedin"></a>
        <a href="mailto:s180150@rguktsklm.ac.in" class="fa fa-envelope"></a>
        <a href="https://t.me/vijramu" class="fa fa-telegram"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>

    <div class="card">
      {{#each imageList1}}
  <img src="{{src}}" alt="Image">
{{/each}}


      <div class="container-1">
        <h5><b>Mery Joshna</b></h5>
        <h6><b>S180428</b></h6>
        <p>Backend Developer</p>
      </div>
      <div class="icons">
        <a href="#" class="fa fa-linkedin"></a>
        <a href="mailto:s180428@rguktsklm.ac.in" class="fa fa-envelope"></a>
        <a href="#" class="fa fa-telegram"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>

    <div class="card">
     {{#each imageList2}}
  <img src="{{src}}" alt="Image">
{{/each}}


      <div class="container-1">
        <h5><b>Aswini</b></h5>
        <h6><b>S180401</b></h6>
        <p>Frontend Developer</p>
      </div>
      <div class="icons">
        <a href="http://linkedin.com/in/bonthu-aswini-b86633269/" class="fa fa-linkedin"></a>
        <a href="mailto:s180401l@rguktsklm.ac.in" class="fa fa-envelope"></a>
        <a href="#" class="fa fa-telegram"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>

